﻿@model odeevv.Models.KAYIT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KAYIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOYAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOYAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.E_MAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.E_MAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SİFRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SİFRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOGUMTARIHI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOGUMTARIHI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KULLANICIID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
