﻿@model IEnumerable<odeevv.Models.KAYIT>

@{
    ViewBag.Title = "KAYIT";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("YEN KAYIT", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOYAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.E_MAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SİFRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOGUMTARIHI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOYAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.E_MAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SİFRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOGUMTARIHI)
        </td>
        <td>
            @Html.ActionLink("DÜZENLEME", "Edit", new { id=item.KULLANICIID }) |
            @Html.ActionLink("DETAYLAR", "Details", new { id=item.KULLANICIID }) |
            @Html.ActionLink("SİLME", "Delete", new { id=item.KULLANICIID })
        </td>
    </tr>
}

</table>
