.jumbotron
{
    background-image:url("../img/bg.jpg");
    background-size:cover;
      
   
}   

.jumbotron_1
{
    background-image:url("../img/bg.jpg");
    background-size:cover;
    height: 100vh;
}

.button {
    position: relative;
    background-color: #ff944d;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #ffff33;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after 
{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.s_h1
{
    text-align: center;
    color: firebrick;
}

.h4
{
    text-align: center;
    
}
.btn1
{
    font-size: 17px;
    background-color: #f9e60e;
    
}

